requests
aiohttp
hachoir
heroku3
wget
Pillow
pyromod
psutil
TgCrypto
motor
dnspython
git+https://github.com/Quicksilver81/gerek01
ffmpeg
git+https://github.com/Quicksilver81/gerek02
python-dotenv
pyrogram
aiofiles
